<!-- We use directives to modify the dom -->
<!-- Structural directives modify structure, prefix with *-->
<!-- Attribute directives modify elements -->

<!-- <div *ngIf="courses.length > 0; then coursesList; else noCourses"></div> -->

<!-- <ng-template #coursesList>List of courses</ng-template> -->
<!-- <ng-template #noCourses>No courses yet</ng-template> -->

<!-- alternately, use property binding to bind dom object property to an expression-->

<!-- when using this technique, keep in mind both divs will still be in the DOM -->
<!-- determine if building tree is costly, use ngIf to free up resources in larger trees -->

<!-- <div [hidden]="courses.length === 0">List of Courses</div> -->
<!-- <div [hidden]="courses.length > 0">No courses yet</div> -->

<!-- fa-icon && i-bs both working below -->
<!-- <fa-icon [icon]="faCoffee" style="height: '5em'"></fa-icon> -->
<!-- <i-bs name="alarm-fill"></i-bs> -->

<ul class="nav nav-pills card-header">
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewMode == 'map'"
      (click)="viewMode = 'map'"
      >Map View</a
    >
  </li>
  <li>
    <a
      class="nav-link"
      [class.active]="viewMode == 'list'"
      (click)="viewMode = 'list'"
      >List View</a
    >
  </li>
</ul>

<!-- use property binding to ngSwitch && *ngSwitchCase ** ngSwitchCaseDefault -->
<div [ngSwitch]="viewMode" class="card-body">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchCaseDefault>Otherwise</div>
</div>

<!-- 
  *ngFor to forOf, then,
  *** {{}} string interpolation ***
  to render courses to the dom 
-->

<!--
  <button (click)="onAdd()">Add</button>
-->

<button class="btn btn-primary" (click)="loadCourses()">Load Courses</button>

<!--
   ngIf can eliminate the need for a leading asterisk to render ng-templates conditionally
-->

<ng-template [ngIf]="courses.length > 0"><br />List of Courses</ng-template>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse">
    {{ i }} - {{ course.name }} -

    <!-- 
      SAFE TRAVERSAL OPERATOR!
     -->
    <span>{{ task.assignee?.name }}</span>
    <button
      class="btn btn-secondary"
      style="margin: 1em; background-color: wheat; border: none"
      (click)="onChange(course)"
    >
      Remove
    </button>

    <button class="btn btn-secondary">Save</button>
  </li>
</ul>

<ng-template [ngIf]="!(courses.length > 0)">No Courses</ng-template>

<!-- 
  inline styling is great but it will be 
  better for large applications and 
  bigger runtimes to call dedicated components on use
-->
<button class="btn btn-secondary">Save</button>
